/* Подключение google font (Michroma) через URL */
@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    background: linear-gradient(90deg, #f4cae2 0%, #030303 100%);
    /* Если не подгрузится Michroma, то отобразится
        шрифт serif */
    font-family: Michroma, serif;
}

p {
    color: aquamarine;
}

.nav-link {
    color: rgb(151, 159, 156);
}

.navbar-nav .nav-link.active {
    color:rgb(20, 19, 21)
}

.navbar-brand img {
    width: 40px;
}

.navbar-nav a {
    font-size: 2em;
}

.sitebar-right {
    color: aqua;
    background: linear-gradient(270deg, #0000FD 0%, #030303 100%);

}

.card {
    background: linear-gradient(270deg, #0000FD 0%, #030303 100%);
    color: aquamarine;
}
.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text {
    color: aquamarine;
    margin: auto auto;
}

.anim-call {
    animation: AnimCall 2s ease 0s infinite normal forwards;
}
@keyframes AnimCall {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}

.footer-text {
    color: aquamarine;
    
}

footer {
    background-color: black;
}

.media-links {
    display: flex;
    align-items: center;
    justify-content: center;

}